<template>
  <article>
    <side-bar class="side-bar" />
    <section>
      <router-view/>
    </section>
  </article>
</template>

<script>
import SideBar from '@/components/SideBar.vue'

export default {
  name: 'Main',
  components: {
    SideBar
  }
}
</script>

<style lang="scss" scoped>
article {
  display: flex;
  height: calc(100vh - 100px);
  z-index: 1;

.side-bar {
  width: 300px;
  background: #DDD;
}

section {
  width: calc(100% - 300px);
}
}
</style>
