<template>
  <header>
    <router-link :to="{ path: '/' }"><img alt="Vue logo" src="../assets/logo.png"></router-link>
  </header>
</template>

<script>
export default {
  name: 'MyHeader'
}
</script>

<style scoped lang="scss">
  header {
    height: 100px;
    width: 100%;
    background: #535353;
    display: flex;

    img {
      align-self: flex-start;
      max-height: 100%;
    }
  }
</style>
