<template>
  <aside>
    <ul>
      <li><router-link :to="{ name: 'profile' }">Profile</router-link></li>
      <li><router-link :to="{ name: 'chat' }">Chat</router-link></li>
    </ul>
  </aside>
</template>

<script>
export default {
  name: 'SideBar'
}
</script>

<style scoped lang="scss">
ul {
  list-style-type: none;

  li {
    &:hover {
      cursor: pointer;
      background: #BDB3CB;
      transition: 0.5s;
    }

    a {
      width: 100%;
      height: 100%;
      display: block;
      padding: 20px 0;
      color: #220052;
      text-decoration: none;
    }
  }
}
</style>
